# Pandas Tutorial

In [1]:
import pandas as pd

In [2]:
data = {'year': [2017, 2017, 2017, 2017, 2017],
        'team': ['Astros', 'Angels', 'Mariners', 'Rangers', 'Athletics'],
        'wins': [101, 80, 78, 78, 75],
        'losses': [61, 82, 84, 84, 87]}
al_west_17 = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses'])
al_west_17

   year       team  wins  losses
0  2017     Astros   101      61
1  2017     Angels    80      82
2  2017   Mariners    78      84
3  2017    Rangers    78      84
4  2017  Athletics    75      87

## Reading in CSV

In [3]:
hr_df = pd.read_csv('hr_since_1985.csv')

## Inspection

In [4]:
hr_df

,Season,Name,Team,G,PA,HR,R,RBI,SB,BB%,K%,WAR
0,2001,Barry Bonds,Giants,153.0,664,73,129,137,13,26.70%,14.00%,12.5
1,1998,Mark McGwire,Cardinals,155.0,681,70,130,147,1,23.80%,22.80%,8.5
2,1998,Sammy Sosa,Cubs,159.0,722,66,134,158,18,10.10%,23.70%,7.1
3,1999,Mark McGwire,Cardinals,153.0,661,65,118,147,0,20.10%,21.30%,6.0
4,2001,Sammy Sosa,Cubs,160.0,711,64,146,160,0,16.30%,21.50%,9.9
5,1999,Sammy Sosa,Cubs,162.0,712,63,114,141,7,11.00%,24.00%,5.3
6,2006,Ryan Howard,Phillies,159.0,704,58,104,149,0,15.30%,25.70%,5.9
7,1997,Mark McGwire,- - -,156.0,657,58,86,123,3,15.40%,24.20%,5.4
8,2002,Alex Rodriguez,Rangers,162.0,725,57,125,142,9,12.00%,16.80%,10.0
9,2001,Luis Gonzalez,Diamondbacks,162.0,728,57,128,142,1,13.70%,11.40%,8.9
10,1997,Ken Griffey Jr.,Mariners,157.0,704,56,125,147,15,10.80%,17.20%,9.0
11,1998,Ken Griffey Jr.,Mariners,161.0,720,56,120,146,20,10.60%,16.80%,6.6
12,2007,Alex Rodriguez,Yankees,158.0,708,54,143,156,24,13.40%,16.90%,9.6
13,2010,Jose Bautista,Blue Jays,161.0,683,54,109,124,9,14.60%,17.00%,6.4
14,2006,David Ortiz,Red Sox,151.0,686,54,115,137,1,17.30%,17.10%,5.3
15,2013,Chris Davis,Orioles,160.0,673,53,103,138,4,10.70%,29.60%,7.0
16,2001,Alex Rodriguez,Rangers,162.0,732,52,133,135,18,10.20%,17.90%,7.8
17,1996,Mark McGwire,Athletics,130.0,548,52,104,113,0,21.20%,20.40%,7.3
18,2002,Jim Thome,Indians,147.0,613,52,101,118,1,19.90%,22.70%,7.3
19,2005,Andruw Jones,Braves,160.0,672,51,95,128,5,9.50%,16.70%,7.9
20,1990,Cecil Fielder,Tigers,159.0,673,51,104,132,0,13.40%,27.00%,6.5
21,1995,Albert Belle,Indians,143.0,631,50,121,126,5,11.60%,12.70%,7.2
22,1996,Brady Anderson,Orioles,149.0,687,50,117,110,21,11.10%,15.40%,6.9
23,2000,Sammy Sosa,Cubs,156.0,705,50,106,138,7,12.90%,23.80%,5.8
24,1998,Greg Vaughn,Padres,158.0,661,50,112,119,11,12.00%,18.30%,5.8
25,2007,Prince Fielder,Brewers,158.0,681,50,109,119,2,13.20%,17.80%,4.7
26,1996,Ken Griffey Jr.,Mariners,140.0,638,49,125,140,16,12.20%,16.30%,9.7
27,1997,Larry Walker,Rockies,153.0,664,49,143,130,33,11.70%,13.60%,9.1
28,2006,Albert Pujols,Cardinals,143.0,634,49,119,137,7,14.50%,7.90%,8.1
29,2000,Barry Bonds,Giants,143.0,607,49,129,106,11,19.30%,12.70%,7.6
30,1998,Albert Belle,White Sox,163.0,706,49,113,152,6,11.50%,11.90%,7.1
31,2001,Todd Helton,Rockies,159.0,697,49,132,146,7,14.10%,14.90%,7.1
32,2001,Shawn Green,Dodgers,161.0,701,49,121,125,20,10.30%,15.30%,6.7
33,2001,Jim Thome,Indians,NaN,644,49,101,124,0,17.20%,28.70%,5.4
34,1987,Mark McGwire,Athletics,151.0,641,49,97,118,1,11.10%,20.40%,5.1
35,2002,Sammy Sosa,Cubs,150.0,666,49,122,108,2,15.50%,21.60%,5.1
36,1987,Andre Dawson,Cubs,153.0,662,49,90,137,11,4.80%,15.60%,3.5
37,2004,Adrian Beltre,Dodgers,156.0,657,48,104,121,7,8.10%,13.20%,9.7
38,2005,Alex Rodriguez,Yankees,162.0,715,48,124,130,21,12.70%,19.40%,9.1
39,1996,Albert Belle,Indians,158.0,715,48,124,148,11,13.80%,12.20%,5.2
40,1999,Ken Griffey Jr.,Mariners,NaN,706,48,123,134,24,12.90%,15.30%,4.9
41,2008,Ryan Howard,Phillies,162.0,700,48,105,146,1,11.60%,28.40%,2.9
42,2003,Alex Rodriguez,Rangers,161.0,715,47,124,118,17,12.20%,17.60%,9.2
43,2009,Albert Pujols,Cardinals,160.0,700,47,124,135,16,16.40%,9.10%,8.4
44,2000,Troy Glaus,Angels,159.0,678,47,120,102,14,16.50%,24.00%,8.2
45,1989,Kevin Mitchell,Giants,154.0,640,47,100,125,3,13.60%,18.00%,6.9
46,2000,Jeff Bagwell,Astros,159.0,719,47,152,132,9,14.90%,16.10%,5.9
47,2015,Chris Davis,Orioles,160.0,670,47,100,117,2,12.50%,31.00%,5.6
48,1999,Rafael Palmeiro,Rangers,158.0,674,47,96,148,2,14.40%,10.20%,5.4
49,1987,George Bell,Blue Jays,156.0,667,47,111,134,5,5.80%,11.20%,5.3

In [5]:
hr_df.head()

,Season,Name,Team,G,PA,HR,R,RBI,SB,BB%,K%,WAR
0,2001,Barry Bonds,Giants,153.0,664,73,129,137,13,26.70%,14.00%,12.5
1,1998,Mark McGwire,Cardinals,155.0,681,70,130,147,1,23.80%,22.80%,8.5
2,1998,Sammy Sosa,Cubs,159.0,722,66,134,158,18,10.10%,23.70%,7.1
3,1999,Mark McGwire,Cardinals,153.0,661,65,118,147,0,20.10%,21.30%,6.0
4,2001,Sammy Sosa,Cubs,160.0,711,64,146,160,0,16.30%,21.50%,9.9

In [6]:
hr_df.tail(3)

,Season,Name,Team,G,PA,HR,R,RBI,SB,BB%,K%,WAR
47,2015,Chris Davis,Orioles,160.0,670,47,100,117,2,12.50%,31.00%,5.6
48,1999,Rafael Palmeiro,Rangers,158.0,674,47,96,148,2,14.40%,10.20%,5.4
49,1987,George Bell,Blue Jays,156.0,667,47,111,134,5,5.80%,11.20%,5.3

In [8]:
hr_df.shape

(50, 12)

## Select Column

In [9]:
hr_df['Name'].head(10)

0       Barry Bonds
1      Mark McGwire
2        Sammy Sosa
3      Mark McGwire
4        Sammy Sosa
5        Sammy Sosa
6       Ryan Howard
7      Mark McGwire
8    Alex Rodriguez
9     Luis Gonzalez
Name: Name, dtype: object

In [10]:
hr_df.Name.head()

0     Barry Bonds
1    Mark McGwire
2      Sammy Sosa
3    Mark McGwire
4      Sammy Sosa
Name: Name, dtype: object

In [11]:
hr_df['mean'] = 'mean'

In [12]:
hr_df.mean()

Season    2000.260000
G          155.666667
PA         679.160000
HR          52.420000
R          116.600000
RBI        132.900000
SB           8.820000
WAR          7.036000
dtype: float64

In [13]:
hr_df[['Name', 'Season']].head()

           Name  Season
0   Barry Bonds    2001
1  Mark McGwire    1998
2    Sammy Sosa    1998
3  Mark McGwire    1999
4    Sammy Sosa    2001

## Further Inspection

In [14]:
hr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Season  50 non-null     int64
 1   Name    50 non-null     object
 2   Team    50 non-null     object
 3   G       48 non-null     float64
 4   PA      50 non-null     int64
 5   HR      50 non-null     int64
 6   R       50 non-null     int64
 7   RBI     50 non-null     int64
 8   SB      50 non-null     int64
 9   BB%     50 non-null     object
 10  K%      50 non-null     object
 11  WAR     50 non-null     float64
 12  mean    50 non-null     object
dtypes: float64(2), int64(6), object(5)
memory usage: 5.2+ KB

In [15]:
hr_df.describe() # for numeric

,Season,G,PA,HR,R,RBI,SB,WAR
count,50.000000,48.000000,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,2000.260000,155.666667,679.16000,52.420000,116.600000,132.900000,8.820000,7.036000
std,6.067007,6.858240,36.22625,6.315158,14.792442,14.025123,8.095577,1.883523
min,1987.000000,130.000000,548.00000,47.000000,86.000000,102.000000,0.000000,2.900000
25%,1997.250000,153.000000,661.25000,48.250000,104.000000,123.250000,2.000000,5.450000
50%,2000.000000,158.000000,681.00000,50.000000,118.500000,134.500000,7.000000,6.950000
75%,2003.750000,160.000000,706.00000,54.000000,125.000000,145.000000,14.750000,8.350000
max,2015.000000,163.000000,732.00000,73.000000,152.000000,160.000000,33.000000,12.500000

In [16]:
hr_df.describe(include='all')

,Season,Name,Team,G,PA,HR,R,RBI,SB,BB%,K%,WAR,mean
count,50.000000,50,50,48.000000,50.00000,50.000000,50.000000,50.000000,50.000000,50,50,50.000000,50
unique,NaN,28,23,NaN,NaN,NaN,NaN,NaN,NaN,44,45,NaN,1
top,NaN,Alex Rodriguez,Cubs,NaN,NaN,NaN,NaN,NaN,NaN,12.90%,16.80%,NaN,mean
freq,NaN,5,6,NaN,NaN,NaN,NaN,NaN,NaN,2,2,NaN,50
mean,2000.260000,NaN,NaN,155.666667,679.16000,52.420000,116.600000,132.900000,8.820000,NaN,NaN,7.036000,NaN
std,6.067007,NaN,NaN,6.858240,36.22625,6.315158,14.792442,14.025123,8.095577,NaN,NaN,1.883523,NaN
min,1987.000000,NaN,NaN,130.000000,548.00000,47.000000,86.000000,102.000000,0.000000,NaN,NaN,2.900000,NaN
25%,1997.250000,NaN,NaN,153.000000,661.25000,48.250000,104.000000,123.250000,2.000000,NaN,NaN,5.450000,NaN
50%,2000.000000,NaN,NaN,158.000000,681.00000,50.000000,118.500000,134.500000,7.000000,NaN,NaN,6.950000,NaN
75%,2003.750000,NaN,NaN,160.000000,706.00000,54.000000,125.000000,145.000000,14.750000,NaN,NaN,8.350000,NaN
max,2015.000000,NaN,NaN,163.000000,732.00000,73.000000,152.000000,160.000000,33.000000,NaN,NaN,12.500000,NaN

In [17]:
hr_df['Team'].value_counts() # for strings or categorical

Cubs            6
Mariners        4
Cardinals       4
Rangers         4
Indians         4
Orioles         3
Giants          3
Dodgers         2
Rockies         2
Yankees         2
Blue Jays       2
Phillies        2
Athletics       2
Diamondbacks    1
- - -           1
Braves          1
Brewers         1
Red Sox         1
Tigers          1
Astros          1
Padres          1
White Sox       1
Angels          1
Name: Team, dtype: int64

## Checking and Changing Data Types

In [18]:
hr_df.dtypes

Season      int64
Name       object
Team       object
G         float64
PA          int64
HR          int64
R           int64
RBI         int64
SB          int64
BB%        object
K%         object
WAR       float64
mean       object
dtype: object

In [19]:
hr_df['PA'].astype(float).head()

0    664.0
1    681.0
2    722.0
3    661.0
4    711.0
Name: PA, dtype: float64

## Sorting

In [20]:
hr_df.sort_values('WAR').head()

,Season,Name,Team,G,PA,HR,R,RBI,SB,BB%,K%,WAR,mean
41,2008,Ryan Howard,Phillies,162.0,700,48,105,146,1,11.60%,28.40%,2.9,mean
36,1987,Andre Dawson,Cubs,153.0,662,49,90,137,11,4.80%,15.60%,3.5,mean
25,2007,Prince Fielder,Brewers,158.0,681,50,109,119,2,13.20%,17.80%,4.7,mean
40,1999,Ken Griffey Jr.,Mariners,NaN,706,48,123,134,24,12.90%,15.30%,4.9,mean
35,2002,Sammy Sosa,Cubs,150.0,666,49,122,108,2,15.50%,21.60%,5.1,mean

In [21]:
hr_df.sort_values('WAR', ascending=False).head()

,Season,Name,Team,G,PA,HR,R,RBI,SB,BB%,K%,WAR,mean
0,2001,Barry Bonds,Giants,153.0,664,73,129,137,13,26.70%,14.00%,12.5,mean
8,2002,Alex Rodriguez,Rangers,162.0,725,57,125,142,9,12.00%,16.80%,10.0,mean
4,2001,Sammy Sosa,Cubs,160.0,711,64,146,160,0,16.30%,21.50%,9.9,mean
37,2004,Adrian Beltre,Dodgers,156.0,657,48,104,121,7,8.10%,13.20%,9.7,mean
26,1996,Ken Griffey Jr.,Mariners,140.0,638,49,125,140,16,12.20%,16.30%,9.7,mean

## Boolean Slicing

In [22]:
hr_df[hr_df['Name']!='Sammy Sosa'].head()

,Season,Name,Team,G,PA,HR,R,RBI,SB,BB%,K%,WAR,mean
0,2001,Barry Bonds,Giants,153.0,664,73,129,137,13,26.70%,14.00%,12.5,mean
1,1998,Mark McGwire,Cardinals,155.0,681,70,130,147,1,23.80%,22.80%,8.5,mean
3,1999,Mark McGwire,Cardinals,153.0,661,65,118,147,0,20.10%,21.30%,6.0,mean
6,2006,Ryan Howard,Phillies,159.0,704,58,104,149,0,15.30%,25.70%,5.9,mean
7,1997,Mark McGwire,- - -,156.0,657,58,86,123,3,15.40%,24.20%,5.4,mean

In [23]:
hr_df[(hr_df.Name != 'Sammy Sosa') & (hr_df.Season == 2001)]

,Season,Name,Team,G,PA,HR,R,RBI,SB,BB%,K%,WAR,mean
0,2001,Barry Bonds,Giants,153.0,664,73,129,137,13,26.70%,14.00%,12.5,mean
9,2001,Luis Gonzalez,Diamondbacks,162.0,728,57,128,142,1,13.70%,11.40%,8.9,mean
16,2001,Alex Rodriguez,Rangers,162.0,732,52,133,135,18,10.20%,17.90%,7.8,mean
31,2001,Todd Helton,Rockies,159.0,697,49,132,146,7,14.10%,14.90%,7.1,mean
32,2001,Shawn Green,Dodgers,161.0,701,49,121,125,20,10.30%,15.30%,6.7,mean
33,2001,Jim Thome,Indians,NaN,644,49,101,124,0,17.20%,28.70%,5.4,mean

In [24]:
hr_df[~(hr_df.Name=='Sammy Sosa')].head()

,Season,Name,Team,G,PA,HR,R,RBI,SB,BB%,K%,WAR,mean
0,2001,Barry Bonds,Giants,153.0,664,73,129,137,13,26.70%,14.00%,12.5,mean
1,1998,Mark McGwire,Cardinals,155.0,681,70,130,147,1,23.80%,22.80%,8.5,mean
3,1999,Mark McGwire,Cardinals,153.0,661,65,118,147,0,20.10%,21.30%,6.0,mean
6,2006,Ryan Howard,Phillies,159.0,704,58,104,149,0,15.30%,25.70%,5.9,mean
7,1997,Mark McGwire,- - -,156.0,657,58,86,123,3,15.40%,24.20%,5.4,mean

## Rename Columns

In [25]:
hr_df.rename(columns={'WAR':'Wins Over Replacement'}, inplace=True)
hr_df.head()

,Season,Name,Team,G,PA,HR,R,RBI,SB,BB%,K%,Wins Over Replacement,mean
0,2001,Barry Bonds,Giants,153.0,664,73,129,137,13,26.70%,14.00%,12.5,mean
1,1998,Mark McGwire,Cardinals,155.0,681,70,130,147,1,23.80%,22.80%,8.5,mean
2,1998,Sammy Sosa,Cubs,159.0,722,66,134,158,18,10.10%,23.70%,7.1,mean
3,1999,Mark McGwire,Cardinals,153.0,661,65,118,147,0,20.10%,21.30%,6.0,mean
4,2001,Sammy Sosa,Cubs,160.0,711,64,146,160,0,16.30%,21.50%,9.9,mean

In [26]:
hr_df.columns

Index(['Season', 'Name', 'Team', 'G', 'PA', 'HR', 'R', 'RBI', 'SB', 'BB%',
       'K%', 'Wins Over Replacement', 'mean'],
      dtype='object')

## Dropna, Fillna

In [27]:
hr_df['G'].describe()

count     48.000000
mean     155.666667
std        6.858240
min      130.000000
25%      153.000000
50%      158.000000
75%      160.000000
max      163.000000
Name: G, dtype: float64

In [28]:
hr_df['G'].mean(skipna=False)

nan

In [29]:
hr_df['G'].mean(skipna=True)

155.66666666666666

In [30]:
hr_df.dropna().shape

(48, 13)

In [31]:
hr_df.fillna(0).shape

(50, 13)

## Calculating a Field

In [32]:
hr_df['HR_per_PA']  = hr_df['HR'] / hr_df['PA']

In [33]:
hr_df['HR_per_PA'].head()

0    0.109940
1    0.102790
2    0.091413
3    0.098336
4    0.090014
Name: HR_per_PA, dtype: float64

## Lambda Function

In [35]:
hr_df['BB_PCT'] = hr_df['BB%'].apply(lambda x: float(x[:-1]))

In [36]:
hr_df['BB_PCT'].mean()

13.687999999999999